body {
    background: #fff;
    font-family: sans-serif;
}

#container {
    padding-bottom: 80px;
}

p, li {
    letter-spacing: 0.05em;
}

h1 {
    padding: 80px 0 60px;
}

a {
    color: #f3cf21;
}

.h2 {
    font-family: "Avenir Next Condensed";
    font-size: 2em;

}

.primary-color {
    color: #f3cf21;
}

.btn {
    border-radius: 20px;
    padding: 5px 20px;
}

.home {
    padding-top: 80px;
    background-image: url("../image/background-home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: contain;

}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


@media (min-width: 700px) {
    .centralHome {
        padding: 100px;
    }
}

.informazioni {
    font-family: "Avenir Next Condensed";
    background-color: white;
    padding: 90px 20px 20px 20px;
}

.sottotitolo {
    padding-bottom: 20px;
}

.tiles {
    justify-content: space-between;
    padding-top: 50px;
}

.tile {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 116px;
}

@media (min-width: 700px) {
    .tiles {
        display: flex;
    }
    .tile {
        width: 280px;
    }
}

.tile.primo {
     background-image: url("../image/slippers.svg");
 }
.tile.secondo {
     background-image: url("../image/masks.svg");
 }
.tile.terzo {
     background-image: url("../image/goal.svg");
 }
.tile.quarto {
     background-image: url("../image/magic-ball.svg");
 }
.titoletto {
    font-weight: bold;
    font-size:1.1em;
    padding-bottom: 8px;
}

.scuro {
    background-color: #262c33;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 50px;
}

.scuro .h2{
    padding-bottom: 50px;
}

.chiaro {
    background-color: #ffffff;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 50px;
}

.chiaro.workshop .h2 {
    color: #ca6ace;
}

.contatti {
    background-color: #ca6ace;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 100px;
}

.contatti .h2 {
    color: #000000;

}

.sottotesto {
    padding-top: 50px;
}

.nome_spettacolo {
    font-weight: bold;
    color:#1ec6ff;
    font-size:1.2em;
    padding: 8px 3px 3px 3px;
}

.home .h2 {
    font-weight: normal;
    line-height: 1.5;
}

.navbar-container {
    background-color: #23272d;
    min-height: 80px;
    width: 100%;
}
.navbar-brand{
    width: 100px;
}


.paragraph {
    margin-bottom: 30px;
}
.paragraph .h2 {
    padding-bottom: 10px;
    color: #f3cf21;
}
.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    margin-left: 20px;
    margin-top: 10px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav {
    color: white;
}
.navbar-dark .navbar-toggler {
    border: none;
}
@media only screen and (min-width: 600px) {
    .navbar {
        padding-left: 0;
    }
}


